.test{
	height: 5px; 
	color: Red;
}	


h1{
	text-align: center;
}

.test2{
	align: left;
}

#test3{ 

	
	align: center;

}

#test4{
	
	float: right;
	
}

.test5{
	margin-left: auto;
	margin-right: auto;
}
